*{
	padding: 0;
	margin: 0;
}
body{
	font: sans-serif;
}
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar{
	background-image: linear-gradient(to right, #343F55, #343F55);
}
.navbar-brand img{
	height: 40px;
	padding-left: 20px;
}
#navbarNav a{
	color: #DAA674;
	font-weight: 600;
	float: right;
	text-align: left;
}
.navbar-nav li{
	padding: 0 10px;
}
.navbar-toggler-icon{
	color: #DAA674;
	font-size: 25px;
}
.fa-bars{
	color: #DAA674;
	font-size: 30px;
}

/* banner -------------------------*/

#banner {
	background-image: linear-gradient(to right, #343F55, #343F55);
	color: #DAA674;
}
#txtwhite{
	color:white;
}
#txtwhiteTitle{
	color:white;
	font-size: 25px;
	text-align: center;
}
#txtThemeTitle{
	color:#DAA674;
	font-size: 25px;
	text-align: center;
}
#txtTheme{
	color:#DAA674;
}
#banner img{
	height: 350px;
	margin-left: 25px;
}
.promo-title{
	font-size: 40px;
	font-weight: 600;
	margin-top: 10px;
}
.bottom-img{
	width: 100%;
}
/* keep in touch -------------------- */
.center{
	margin: 0 auto;
	display: block;
	text-align: center;
	color: red;
}

/* footer ---------------------------- */
#social-media{
	background: #343F55;
	margin-top: 30px;
	padding-top: 50px;
	padding-bottom: 1px;
}
#social-media p{
	font-size:  40px;
	color:#DAA674;
}
.social-icons a{
	margin-right: 20px;
}
.social-icons img{
	width: 60px;
	transition: 0.5s;
}
#social-media pre{
	color:white;
	margin-left: 20px;
	margin-top: 20px;
}
.social-icons a:hover img{
	transform: translateY(-10px);
}

/* cv -------------------------------- */
#cuvi{
	background: #343F55;
	background: white;
	width: 100%;
}
#skills{
	background: white;
}
.skills{
	padding: 20px;
	margin-left: 10px;
}
.skills-img{
	width: 100px;
}
#contact{
	background: #343F55;
}
#contact img{
	width: 50%;
	margin: 0 auto;
	display: block;
}
.row {
   margin-left: -15px;
   margin-right: -15px;
 }
 .stars i {
     font-size: 18px;
 }
 .stars .starActive{
 	font-size: 18px;
     color: #28a745
 }

 /* MusicPage ============================= */
 .container .heading{
 	font-size: 30px;
 	padding: 20px 0;
 	text-align: center;
 	font-family: Verdana, Geneva, Tahoma, sans-serif;
 	text-shadow: 0 5px 10px #000;
 }
 .container .music-container{
 	display: flex;
 	align-items: center;
 	flex-flow: column;
 }
 .container .music-container .box{
 	height: 160px;
 	width: 80%;
 	display: flex;
 	align-items: center;
 	background: #f9f9f9;
 	border-radius: 10px;
 	box-shadow: 0 5px 10px #000;
 	overflow: hidden;
 	margin-bottom: 15px;
 }
 .container .music-container .box .image{
 	height: 100%;
 	width: 25%;
 }
  .container .music-container .box .image img{
 	height: 100%;
 	width: 100%;
 }
.container .music-container .box .music{
	width: 75%;
}
.container .music-container .box .music audio{
	width: 100%;
	outline: none;
}
.container .music-container .box .music audio::-webkit-media-controls-enclosure{
	background: none;
}
.containerAlbum{
		border-style: solid;
		border: 1px solid grey;
		margin-left: auto;
		margin-right: auto;
	width: 60%;
}
.project-details{
	width: 70%;
	text-align: center;
	background-color: #343F55;
}
.project-details p{
	margin-bottom: -5px;
}
.project-details2{
	text-align: left;
	margin-left: 20px;
	color:#DAA674;
	font-size: 25px;
}
.project-details2-txt{
	text-align: left;
	margin-left: 20px;
	color:white;
	font-size: 15px;
}
@media screen and (max-width: 680px){
	.containerAlbum{
		width: 100%;
	}
	.project-details{
		width: 100%;
	}
}

@media (max-width: 600px){
	
	.container .music-container .box{
		height: 270px;
		width: 90%;
		flex-flow: column;
	}
	.container .music-container .box .image{
		height: 60%;
		width: 100%;
	}
	.container .music-container .box .music{
		height: 40%;
		width: 100%;
	}
}